.detail-container {
    display: flex;
    /* border: 1px solid lightgray; */
    width: 90vw;
    margin: auto;
    border-radius: 5px;
}

.detail-header::-webkit-scrollbar {
    display: none;
}

.back {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    font-size: 20px;
}

.back div {
    margin: 0 1rem;
}

.back .icon:hover {
    cursor: pointer;
}

.back .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-header {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: scroll;

}

.detail-action {
    width: 60vw;
    display: flex;
    justify-content: center;

}

.detail-action-container {
    width: 50%;
    height: 53vh;
    margin-top: 5vh;
    border-radius: 5px;
    padding: 1rem;
    border: 1.5px solid lightgray;
}

.detail-action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.detail-action-text .title1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.detail-action-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 0;
}

.detail-action-item-container {
    display: flex;
}

.detail-action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-action-item .text {
    font-size: 0.8rem;
}

.detail-action-item img {
    width: 45px;
    height: 45px;
}

.detail-prix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}


.prix-total-container,
.commission-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.prix-total-container {
    font-size: 1.7rem;
    font-weight: bold;
}

.commission-container .labele {
    font-size: 0.8rem;
    color: gray;
    text-align: left;
    font-weight: bold;
}

.commission-container .data {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: whitesmoke;
    border-radius: 5px;
}


.button-container {
    border-radius: 5px;
    background-color: var(--troisieme-couleur);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.button-container:hover {
    cursor: pointer;
}


.detail-content {
    /* width: 85%; */
    width: 60vw;
    margin: 1rem auto;
}

.all-detail-container {
    display: flex;
    flex-direction: column;

}

.container-all-data-detail {
    display: flex;
    /* justify-content: flex-start; */
}

.all-detail-left,
.all-detail-right {
    width: 50%;
}

.all-detail-left .item-detail,
.all-detail-right .item-detail {
    display: flex;
}


.item-detail .data,
.item-detail .labele {
    margin: 0.2rem;
    font-size: 0.9rem;
    width: 25%;
}

.item-detail .data {
    font-weight: bold;
}

.detail-container-text .title,
.all-detail-container .title {
    font-weight: bold;

}

.detail-container-text {
    margin: 2rem 0;
}

.box-data-description {
    font-size: 0.9rem;
    margin: 0.2rem;
    max-width: 75vw;
}